body {
	padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
  	text-align: justify;
	background-color: #3C3E5C;
}
	

h1 {
	font-family: 'Dosis', sans-serif;
}

.panel-default {
	border-radius: 10px;
}

.panel-heading {
	font-weight: bold;
}

footer {
	color: white;
}