html {
	background: url(docs/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3C3E5C;
}

body {
	padding-top: 100px;
    font-family: 'Open Sans', sans-serif;
  	text-align: justify;
  	background: transparent;
}
	

h1 {
	font-family: 'Dosis', sans-serif;
}

.panel-default {
	border-radius: 10px;
}

.panel-heading {
	font-weight: bold;
}

footer {
	color: white;
}